.CloseBtn {
	position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
	display: flex;
	&-container {
		display: flex;
		background: none;
		border: none;
		align-items: center;
		justify-content: center;
		padding: 8px;
		cursor: pointer;
		
	}
}