.PrimaryBtn {
	margin: 8px 40px;
	flex: 0 0 auto;
	display: flex;
	.btn-container {
		opacity: 1;
		background-color: #0095f6;
		border: 1px solid transparent;
		border-radius: 4px;
		cursor: pointer;
		font-weight: 600;
		flex: 1 0 auto;
		padding: 5px 9px;
		text-align: center;
		user-select: none;
		width: auto;
		.main {
			display: flex;
			font-size: 1.4rem;
			line-height: 1.8rem;
			color: #fff;
			justify-content: center;
			flex: 0 0 auto;
		}
	}
	.btn-container[disabled] {
		opacity: .3;
		pointer-events: none;
	}
}