.Login {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	background-color: #fafafa;
	flex-direction: column;
	width: 100%;
	.container {
		display: flex;
		justify-content: center;
		max-width: 935px;
		width: 100%;
		margin: 32px auto 0;
		padding-bottom: 32px;
	}

}

